.nav-link { 
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.nav-link:hover {
    color: white;
}

#home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(../Assets/Images/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.nav-item{
    padding-left: 20px;
}

.home-title{
    font-size: 78px;
}

.home-title::after{
    content: '|';
    display: inline-block;
    font-size: 40px;
    width: 100%;
    height: 5px;
    margin-top: 10px;
    animation-name: typewriter ;
    animation-duration: 10s ;
    animation-iteration-count: infinite;
    animation-direction: normal;
}  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    display: none;
  }
  
  .dropdown-submenu:hover .dropdown-menu {
    display: block;
  }
.box-shadow-full {
    padding: 3rem 1.25rem;
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}  


.bg-opacity-90 {
    --bs-bg-opacity: 0.90;
}
.text-tertiary {
    color: #4e4e4e !important;
}

.fs-3rem{
    font-size: 3rem !important;
}
.border-10{
    border-width: 10px !important;
}

.p-35{
    padding: 35px !important;
}
.px-30{
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.card{
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
    border: 0;
}

.paralax-mf {
    position: relative;
    padding: 8rem 0;
}
.bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
.overlay-mf {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    background-color: #0078ff;
}
.mneg{
    margin-top: -50px !important;
}
.pe-6{
    padding-right:70px !important;
}