.img{
    width: 100px;
}


.about{
    height: 300px;
}

.img1 img{
    height: 40px;
}

.img-header img{
    height: 250px;
}
.items{
    padding-top: 90px;
}

.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}